@model BigSchool.ViewModels.FollowingViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Following</h1>

<div class="row">
    <ul>
        @foreach (var lecturer in Model.UpcomingLecturers)
        {
            <li>
                <div class="details">
                    <span class="lecturer">
                        @lecturer.Name
                        @if (Model.ShowAction)
                        {
                            <button data-user-id="@lecturer.Id" class="btn btn-default btn-sm js-toggle-follow">Follow</button>

                        }
                    </span>
                </div>
            </li>
        }
    </ul>
    @section scripts
    {
        <script>
            $(document).ready(function () {
                $(".js-toggle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Sth failed!");
                        });
                });
                $(".js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button.text("Following");
                        })
                        .fail(function () {
                            alert("Sth failed!");
                        });
                });
            });
        </script>
    }

</div>
